/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body */
  body {
    background: linear-gradient(135deg, #e1e8ff, #ffffff);
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Login Container */
  .login-container {
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.1);
    width: 350px;
    text-align: center;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
    color: #2E4057;
  }
  
  /* Input Fields */
  .login-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #cdd0d4;
    border-radius: 8px;
    outline: none;
  }
  
  .login-container input:focus {
    border-color: #faa828;
  }
  
  /* Button */
  .login-container button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background-color: #faa828;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-container button:hover {
    background-color: #e2941d;
  }
  
  /* Error Message */
  #error-message {
    color: red;
    margin-top: 15px;
    font-size: 14px;
  }
/* Password container */
.password-container {
    position: relative;
  }
  
  .password-container input {
    width: 100%;
    padding-right: 40px; /* space for eye icon */
  }
  
  /* Eye icon */
  .eye-icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #aaa;
  }
  
  .eye-icon:hover {
    color: #faa828;
  }
    